.side-bar__list {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.side-bar__link {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.side-bar__link--active {
  text-decoration: none;
  color: var(--yellow);
}
