.cache-layout {
  display: grid;
  width: 80%;
  grid-template-columns: 15rem auto;
  min-height: 40rem;
  font-size: 2rem;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: rgb(1, 0, 10);
}

.cache-section {
  padding: 1rem 2rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-bg-color);
}


@media (max-width: 1024px) {
  .cache-layout {
    width: 100%;
  }

}

@media (max-width: 600px) {
  .cache-layout {
    grid-template-columns:  auto;
    font-size: 1rem;
    min-height: auto;
  }
  .cache-section {
    border-left: none;
    min-height: auto;
  }
}

.cache-section__title {
  font-size: 1.5rem;
  color: var(--yellow);
}

.cache-section__count {
  text-align: center;
  color: var(--yellow);
}

.counter-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}


.counter-action__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1024px) {
  .counter-action__btn {
    padding: 4px 1rem;
  }
}

.counter-action__btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
